body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqgdMmAwSpZFTVNXo8dWPNk_y8btlnhfKJVA&s");
  background-repeat: space;
  background-attachment: fixed;
  font-family: 'Mitr on';
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

#home-page-content,#quiz-result-page {
  position: relative;
  z-index: 1;
  max-width: 420px;
  margin: 60px auto;
  padding: 30px 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #222;
  font-size: 18px;
}
h1 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 30.4px;
}

#home-page-content h1{
  font-family: 'Fredoka One'; 
  font-size: 50px; 
  color: #FF6F61; 
  text-shadow: 2px 2px 5px black;
}



#user-choice,
#loggedin-user {
  margin-top: 20px;
}

#signup-paragraph {
  margin-bottom: 12px;
  font-size: 17.6px;
}

#signup-form label input,
#edit-profile-form label input, 
#login-form label input
 {
  flex: 1;
  padding: 6px 8px;
  font-size: 16px;
}



 .reg-form-row, .edit-profile-row, .login-form-row{
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.reg-form-row label,
.edit-profile-row label,
.login-form-row label{
  margin-bottom: 6px;
  font-weight: bold;
  text-align: left;
}

.reg-form-row input,
.reg-form-row select,
.reg-form-row textarea,
.edit-profile-row input,
.edit-profile-row select,
.edit-profile-row textarea,
.login-form-row input {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 4px;
}

.req-star {
  color: red;
  font-size: 17.6px;
  margin-left: 2px;
  display: inline-block;
  text-align: right;
}

.error-message {
  color: red;
  font-size: 15.2px;
  min-height: 19.2px;
}

.nav-btn,
.trial-note-button-group button,
#signup-page-content #register-btn,
#profile-page-content #first-quiz-btn,
#profile-page-content #another-quiz-btn,
#profile-page-content #view-quizzes-btn,
#profile-page-content #edit-profile-btn,
#profile-page-content #logout-btn,
#edit-quiz-form #submit-quiz-btn,
#quiz-form #go-back-profile-btn,
#quiz-history-container .manage-history-btns,
#quiz-history-content #go-back-to-profile-btn,
#edit-profile-page #save-changes-btn,
#edit-profile-page #delete-account-btn,
#edit-profile-page #go-back-profile-btn,
#delete-quiz-modal #cancel-delete-btn,
#delete-quiz-modal #confirm-delete-btn {
  font-family: 'Mitr on';
  font-size: 18px;
  font-weight: 700; 
}

.nav-btn,
.trial-note-button-group button,
#submit-trial-quiz button,
#signup-page-content #register-btn,
#trial-quiz #trial-quiz-btn,
#trial-quiz-form #cancel,
#trial-quiz-note-modal-content #signup-trial-note,
#trial-quiz-note-modal-content #goto-trial-quiz,
#loggedin-user #login-choice-btn,
#login-page-content #login-btn,
#profile-page-content #first-quiz-btn,
#profile-page-content #another-quiz-btn,
#profile-page-content #view-quizzes-btn,
#profile-page-content #logout-btn,
#profile-page-content #edit-profile-btn,
#quiz-form #go-back-profile-btn,
#quiz-history-container .manage-history-btns,
#quiz-history-content #go-back-to-profile-btn,
#edit-profile-page #save-changes-btn,
#edit-profile-page #delete-account-btn,
#edit-profile-page #go-back-profile-btn,
#delete-quiz-modal #cancel-delete-btn,
#delete-quiz-modal #confirm-delete-btn {
  display: inline-block; 
  width: 100%;
  padding: 14px 0;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

#quiz-history-content #go-back-to-profile-btn {
  position: absolute;
  top: 4px;
  left: 10px;
  width: 20%;
}

#delete-quiz-modal #confirm-delete-btn {
  background-color: red;
}



.nav-btn:hover,
.trial-note-button-group button:hover,
#submit-trial-quiz button:hover,
#trial-quiz-page button:hover,
#signup-page-content #register-btn:hover,
#login-page-content #login-btn:hover,
#profile-page-content #first-quiz-btn:hover,
#profile-page-content #another-quiz-btn:hover,
#profile-page-content #view-quizzes-btn:hover,
#trial-quiz-note-modal-content #signup-trial-note:hover,
#trial-quiz-note-modal-content #goto-trial-quiz:hover,
#trial-quiz #trial-quiz-btn:hover,
#trial-quiz-form #cancel:hover,
#loggedin-user #login-choice-btn:hover,
#profile-page-content #logout-btn:hover,
#profile-page-content #edit-profile-btn:hover,
#quiz-form #go-back-profile-btn:hover,
#quiz-history-container .manage-history-btns:hover,
#quiz-history-content #go-back-to-profile-btn:hover,
#edit-profile-page #save-changes-btn:hover,
#edit-profile-page #delete-account-btn:hover,
#edit-profile-page #go-back-profile-btn:hover,
#delete-quiz-modal #cancel-delete-btn:hover,
#delete-quiz-modal #confirm-delete-btn:hover {
  background-color: #0056b3;
box-shadow: 0 6px 14px rgba(0, 86, 179, 0.5);
}


#trial-quiz-note-modal-content,
#signup-page-content,
#trial-quiz-result-page,
#trial-quiz-form,
#login-page-content,
#profile-page-content,
#quiz-form,
#edit-profile-page,
#delete-quiz-modal-content,
#quiz-history-content,
#quiz-history-container .quiz-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  max-width: 420px;
  min-height: 200px;
  margin: 60px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  color: #222;
}


.quiz-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.3); 
  cursor: pointer; 
}

.password-container {
  position: relative;
  width: 100%;
  max-width: 500px; 
}

.password-container input {
  width: 100%;
  padding-right: 40px; 
  box-sizing: border-box;
}

.reg-field-container {
  display: flex;
  align-items: center;
  gap: 6px; 
}

.reg-field-container input {
  flex: 1 1 auto; 
  min-width: 0;   
}


.toggle-password {
  position: absolute;
  right:25px ;
  cursor: pointer;
  font-size: 20px;
  color: #666;

}


#signup-page-content,
#trial-quiz-result-page,
#login-page-content,
#profile-page-content {
  text-align: center;
}

#trial-quiz-note-modal-content,
#delete-quiz-modal-content {
  height: 400px;
  background-color: white;
}

#quiz-history-content {
  max-width: 1000px;
  text-align: center;
}

#greeting {
  margin-bottom: 0px; 
}
#profile-page-content > p {
  font-size: 14px;
  color: #6e6a6a;
  margin-top: 0px;
  margin-bottom: 20px;
}

#quiz-history-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

li {
  display: block;
  padding-left: 0;        
  margin-left: 0;         
}

.trial-note-button-group {
  text-align: center;
  margin-top: 20px;
}

#registeration-success, #message.success {
  display: none;
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

#message.error {
  display: none;
  color: #721c24;             
  background: #f8d7da;         
  border: 1px solid #f5c6cb;  
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}


#message.info {
  display: block;
  color: #000000;
  background-color: #efcd7c;
  border: 1px solid #efcd7c;
}


.error-message-log {
  display: block;
  color: red;
}

.error-message {
  display: none;
  color: red;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
}


.close-btn {
  color: #aaa;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  cursor: pointer;
}

.close-btn:hover {
  color: black;
}


#cancel-delete-btn {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

#confirm-delete-btn {
  padding: 10px 20px;
  cursor: pointer;
}

.modified-at {
  position: absolute;
  top: 2px;
  left: 2px;
}

#message {
  padding: 12px 20px;
  border-radius: 12px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  max-width: 400px;
}
