<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="edit-profile-page">
      <div id="message" ></div>
      <h1>Edit Profile</h1>

      <form id="edit-profile-form" novalidate>
        <div class="edit-profile-row">
          <label>First Name:</label>
            <input type="text" id="first-name" name="first_name" />
            
        </div>
        <span class="error-message" id="error-firstname"></span
            >
        <br />

        <div class="edit-profile-row">
          <label> Last Name:</label>
          <input type="text" id="last-name" name="last_name" />
            
        </div>
        <span class="error-message" id="error-lastname"></span>
        <br />

        <div class="edit-profile-row">
          <label
            >Password:  </label>
            <div class="password-container">
                <input type="password" id="password" name="password" />
                <span class="toggle-password" data-target="password" >&#128065;</span> 
            </div>
            
            
        
        </div>
        <span class="error-message" id="error-password-edit"></span>
        <br />

        <div class="edit-profile-row">
          <label
            >Password Confirmation: </label>
            <div class="password-container">
                <input
                type="password"
                id="confirm-password"
                name="confirm-password"
              />
              <span class="toggle-password" data-target="confirm-password" >&#128065;</span> 
            </div>
            
            
         
        </div>
        <span class="error-message" id="error-confirm-pass-edit"></span>
        <br />

        <div class="edit-profile-row">
         
            <label>
              Bio (optional):  </label>
              <textarea
                id="bio-edit"
                name="bio"
                rows="4"
                cols="40"
                placeholder="Tell us about yourself..."
              ></textarea>
             
           

        </div>
        <span class="error-message" id="error-bio-edit"></span>
        <br />

        <button type="submit" id="save-changes-btn">Save Changes</button>
        <a href="/petsona/profile/$$USERNAME$$" id="go-back-profile-btn">
          Go Back
        </a>
      </form>
    </div>

    <script type="module" src="/static/js/validate_form.js"></script>
    <script type="module" src="/static/js/edit_profile.js"></script>
    <script type="module" src="/static/js/toggle_eye_icon_password.js"></script>
  </body>
</html>
