<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet">
  <body>
    <div id="login-page-content">
      <div id="registeration-success">
        Registration successful! You can now log in.
      </div>
      <h1>Login</h1>
      <form method="POST" action="/petsona/login" id="login-form" novalidate>
        <div class="login-form-row">
          <label>Email:</label>
          
          <input type="text" id="email-log" name="email" value="$$EMAIL$$" required />
        </div>
        
          
        
        <span class="error-message-log" id="error-email-log"
            >$$ERROR_EMAIL$$</span
          >
        <br />
        <div class="login-form-row">
          <label>Password: </label>
          <div class="password-container">
              
            <input type="password" id="pass-log" name="password" value="$$PASSWORD$$" required />
            <span class="toggle-password" data-target="pass-log">&#128065;</span> 
        </div>
      

        </div>
        


          
       
        <span class="error-message-log" id="error-pass-log"
            >$$ERROR_PASS$$</span
          >
        <br />
        <button type="submit" id="login-btn">LOGIN</button>
      </form>
    </div>

    <script src="/static/js/signup_success.js"></script>
    <script src="/static/js/toggle_eye_icon_password.js"></script>
  </body>
</html>
