<!DOCTYPE html>
<html>
  <head>
    <title>Trial Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div id="trial-quiz-form">
      <h1>Trial Quiz</h1>
      <form action="/trial_quiz" method="POST">
        <p>Is your pet a cat or a dog?</p>
        <label><input type="radio" name="q1" value="cat" required /> Cat</label
        ><br />
        <label><input type="radio" name="q1" value="dog" required /> Dog</label
        ><br />

        <p>Does your pet prefer spending time indoors or outdoors?</p>
        <label
          ><input type="radio" name="q2" value="indoors" required />
          Indoors</label
        ><br />
        <label
          ><input type="radio" name="q2" value="outdoors" required />
          Outdoors</label
        ><br />

        <p>Is your pet more active in the morning or at night?</p>
        <label
          ><input type="radio" name="q3" value="morning" required />
          Morning</label
        ><br />
        <label
          ><input type="radio" name="q3" value="night" required /> Night</label
        ><br />

        <p>Does your pet enjoy social gatherings with other animals?</p>
        <label><input type="radio" name="q4" value="yes" required /> Yes</label
        ><br />
        <label><input type="radio" name="q4" value="no" required /> No</label
        ><br />

        <p>How does your pet handle stressful situations?</p>
        <label
          ><input type="radio" name="q5" value="stays calm" required /> Stays
          calm</label
        ><br />
        <label
          ><input type="radio" name="q5" value="gets anxious" required /> Gets
          anxious</label
        ><br />

        <p>Does your pet prefer routine or spontaneity?</p>
        <label
          ><input type="radio" name="q6" value="routine" required />
          Routine</label
        ><br />
        <label
          ><input type="radio" name="q6" value="spontaneity" required />
          Spontaneity</label
        ><br />

        <div id="submit-trial-quiz">
          <button type="submit">Submit</button>
        </div>
        <a href="/" id="cancel"> Cancel </a>
      </form>
    </div>
  </body>
</html>
